spring:
  application:
    name: catalog_service
  profiles:
    active: dev
  cloud:
    nacos:
      discovery:
        server-addr: nacos:8848
        namespace: dev
        group: COURSEHUB_GROUP
        ephemeral: true
        heart-beat-interval: 5000
        heart-beat-timeout: 15000

server:
  port: 8081

logging:
  level:
    com.zjsu.ljy.course: INFO
    org.springframework.web: INFO
